*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 90vw;
    height: 80px;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav .part1 img{
    width: 140px;
}
nav .part2{
    display: flex;
    gap: 10px;

}
nav .part2 select{
    color: rgb(183, 181, 181); ;
    border: none;
}
nav .part2 a{
    text-decoration: none;
    color: rgb(183, 181, 181);
    cursor: pointer;
}
/* ............................ */
main{
    width: 65vw;
    height: 90vh;
    margin: auto;
}
.container1{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.container1 .part1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.container1 .part1 img{
    width: 120px;
    margin-left: 20px;
}
.container1 .part2 p{
    font-size: 25px;
    text-align: center;
}
.container1 .part3 button {
    color: white;
    padding: 9px;
    background-color: #448fb8;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}
/* ............................ */
.container2{
    margin-top: 40px ;
    margin-bottom: 40px;
}
.container2 .logo{
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: #feea31;
    font-size: 30px;
}
.container2 .download{
    font-weight: 100;
    font-size: 25px;
}
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
 {
    
}
.container3 .box{
    display:flex ;
    flex-direction: column;
    align-items: center;
gap: 30px;
    padding: 35px 44px;
    width: 360px;
    background-color: #efeded;
    border-radius: 7px;
    
}
.container3 .language{
font-size: 25px;
font-weight: bold;
}
.container3 .btn1{
    padding: 18px 12px;
    background-color: #448fb8;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    border: none;
}
.container3 .btn2{
    padding: 18px 12px;
    background-color: #1fd051;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    border: none;

}




















